body{
    display: grid;
    grid-template-areas: 'nav' 'nav' 'nav'
                        'header' 'header' 'header'
                        'main' 'main' 'main'
                        'section' 'section' 'section'
                        'article' 'article' 'article'
                        'footer' 'footer' 'footer';
    grid-template-rows: 1vh 70vh 40vh 50vh 30vh 30vh;
    margin: 0;
    height: 100%;
}

nav{
    background-color: #2cbf60;
    grid-area: 'nav';
}

header{
    background-image: url(image/banner.png);
    display: flex;
    justify-content: space-evenly;
    grid-area: 'header';
}   

main{
    align-items: center;
    background-color: #E3E3E3;
    display: flex;
    grid-area: 'main';
    justify-content: space-evenly;
}

section{
    background-color: #dad1d1 ;
    display: flex;
    justify-content: space-evenly;
    grid-area: 'section';
    width: 100%;
}

.divSectionLeft{
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: end;
    padding-top: 50px;
    width: 40%;
}

.divSectionRight{
    height: 50%;
    width: 40%;
}



section div h4{
    font-size: 15pt;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    height: 5%;
}

section div p{
    color: gray;
    font-size: 11pt;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    line-height: 23px;
}

article{
    background-color: red;
    grid-area: 'article';
}

footer{
    background-color: yellow;
    grid-area: 'footer';
}

.divsMainHeader{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 30%;
}

h1{
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: 40pt;
    font-weight: 5;
}

h1 span{
    color: #2cbf60;
}

p{
    font-family: 'Roboto', sans-serif;
}

.divHeaderLeft{
    color: white;
    height: 450px;
    text-align: justify;
    font-size: 17pt;
}

.divHeaderRight{
    height: 500px;
}

.divIconesHeader{
    background-color: black;
    border-radius: 50%;
    display: flex;
    height: 50px;
    width: 50px; 
}

.divIcon{
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}

.divImg{
    height: 50%;
    width: 50%;
}

.icon{
    align-items: center;
    background-color: black;
    border-radius: 50%;
    display: flex;
    height: 50px;
    justify-content: center;
    opacity: 0.4;
    width: 50px;
}

.icon:hover{
    background-color: #2cbf60;
    opacity: 1;
}

.divsRedondas{
    align-items: center;
    background-color: #2cbf60;
    border-radius: 50%;
    display: flex;
    height: 75px;
    width: 75px;
    justify-content: space-around;
}

.divsMain{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    text-align: center;
    width: 20%;
}

.imgsDiv{
    padding-top: 6px;
    padding-left: 3px;
    padding-right: 2px;
    padding-bottom: 3px;
}

main h4{
    font-size: 16pt;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}

main p{
    color: gray;
    font-size: 11pt;
    font-weight: normal;
    line-height: 23px;
    font-family: 'Roboto', sans-serif;
}
